
*{
    margin: 0;
    background-color: beige;
}

/* for the fonts on the page  */
.open-sans-font{
  font-family: 'Open Sans', sans-serif;
}

.profile{
  /* add the wallpaper here  */
     background-image: url(/images/itly.jpeg);
     background-size: cover;
     height: 20%;
     
  /* ------------- */
}
#pfr{
   /* display: block; */
   /* margin-left: auto;
   margin-right: auto; */
   width: 20%;
   height:8%; 
   border-radius: 50%; 
   /* border:5px solid lightskyblue; 
   margin-bottom: 20px;
   margin-top: 20px; */

   margin-left: 5%;
   margin-top: 20%;
   border: 3px solid yellow;

}

.myInfo{
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: '.open-sans-font', sans-serif;
}


.box{

    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    transition: all 0.4s ease-in-out;
    
}



a:link, a:visited {
    background-color: lightskyblue;
    color: white;
   
    padding: 20px 20%;
    
    
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: large;
    text-decoration: none;
   
  }
  
  a:hover, a:active {
    background-color: blueviolet;
  }


 
 #name{
  
 }

 #title{

 }

 #bio{


 }
  /* for the icons 
   */

   #icon {
  
    margin: auto;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

  }

  #icon:hover{
      opacity: 0.7;
  }
   /* Facebook */
   
.class.fa.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
.class2.fa-twitter {
    background: #55ACEE;
    color: white;
  }

   /* Instagram */
.class3.fa-instagram {
    background: #E1306C;
    color: white;
  }
 /* Snapchat */
.class4.fa-snapchat {
    background: #FFFC00;
    color: white;
  }
   /* LinkedIn */
.class5.fa-linkedin {
    background: #0e76a8;
    color: white;
  }
